body,
html {
  /*   height: 100%; */
  width: 100%;
  background-repeat: no-repeat;
  background-image: url(http://content.wallpapers-room.com/resolutions/1920x1200/s/Wallpapers-room_com___simple_wall_glass_by_lassekongo83_1920x1200.jpg);
  background-size: 100% 100%;
  border: 4px solid #e7ab34;
}

h1 {
  position: fixed;
  margin-top: 200px;
  /*   font-weight: 800; */
  font-size: 3.5em;
  font-family: 'Monoton', cursive;
  line-height: 150%;
  color: #e7ab34;
}

#header {
  text-align: center;
}

.logo {
  max-width: 100px;
  max-height: 100px;
  border: 2px solid #69c7db;
}

.detail {
  /*   border: 2px solid white;  */
/*   display: none; */
  position: fixed;
  right: 20px;
  top: 120px;
  width: 300px;
  max-width: 300px;
  padding: 10px 2px 2px 2px;
  font-family: 'Inconsolata';
  font-size: 1.1em;
/*   font-weight: 600; */
  color: #69c7db;
  line-height: 80%;
}

#list {
  text-align: center;
  /*   position: relative; */
  margin-top: 50px;
  margin-left: 90px;
  font-family: 'Voltaire', sans-serif;
  font-weight: 600;
  font-size: 1.2em;
  letter-spacing: 1.5px;
}

.status {
  color: #69c7db;
  margin-left: 110px;
}

.results {
  border: 1px solid #e7ab34;
  max-width: 80%;
  background: rgba(0, 0, 0, 0.6);
}

hr {
  border-color: #e7ab34; 
}

a:link {
  text-decoration: none;
}

a {
  color: #db7d69;
}

a > .detail{
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.7s   linear;
}

a:hover > .detail {
/*   display: block; */
  visibility: visible;
  opacity: 1;
}

a:visited {
  color: #db7d69;
}

a:hover {
  color: #e7ab34;
}

a:active {
  color: #e7ab34;
}

